.container {
  position: relative; /* 자식 요소의 위치 조정을 위함 */
  width: 100%;

  
}

.animate-card {
  position: absolute;
  transition: transform 0.6s ease;
}

.card {
  position: relative;
  width: 400px;
  height: 540px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-center {
    position: absolute;
    top: 0%; /* 수직 가운데 정렬 */
    left: 45%; /* 수평 가운데 정렬 */
    transform: translate(0%, 0%); /* 정확한 중심 위치 */
    z-index: 2; /* 다른 카드보다 위에 표시되도록 */
    transition: transform 0.6s ease, top 0.6s ease, left 0.6s ease;
  }
  

.card-selected {
  transform: scale(1.25);
  z-index: 1; /* 선택된 카드가 위로 올라오게 함 */
}

.card-left,
.card-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
}

.card-left {
  left: 20%; /* 화면 왼쪽에서 20% 위치 */
  transform: translateX(-50%);
}

.card-right {
  right: 20%; /* 화면 오른쪽에서 20% 위치 */
  transform: translateX(50%);
}

.hidden {
    visibility: hidden; /* 요소를 보이지 않게 */
    opacity: 0; /* 시각적으로도 투명하게 */
    pointer-events: none; /* 클릭 이벤트 차단 */
    transition: opacity 0.6s ease; /* 선택 시 부드럽게 나타나도록 */
  }
  

@media (max-width: 768px) {




  .text-6xl {
    font-size: 3rem;
    margin-left: 0;
    padding-top: 20px;
  }




}

.container {
    position: relative; /* 컨테이너를 기준으로 위치를 설정 */
  }
  

  
  @media (max-width: 768px) {
    .vs-text {
      font-size: 1.5rem; /* 작은 화면에서 VS 텍스트 크기를 줄임 */
      
    }
  }

