.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'DM Serif Display', serif; /* 원하는 폰트 */
  font-size: 2rem; /* 폰트 크기 조정 */
  font-weight: bold; /* 폰트 두께 설정 */
  text-align: center; /* 가운데 정렬 */
  margin-bottom: 40px; /* 아래 마진 추가 */
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  gap: 50px; /* 카드 간 간격 설정 */
}

/* 카드 스타일 */
.card {
  position: relative;
  width: 400px;
  height: 540px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease, opacity 0.6s ease;
  cursor: pointer;
}

/* 카드 앞면 스타일 */
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg); /* 기본 상태 */
}

/* 카드 뒷면 스타일 */
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg) scaleX(-1); /* 뒷면을 제대로 보이게 설정 */
}

/* 카드 위치 및 애니메이션 */
.card-left {
  transform: translateX(-150%);
}

.card-right {
  transform: translateX(150%);
}

.card-selected {
  transform: scale(1.2) translate(0, -20%);
  z-index: 10;
}

.card.flipped {
  transform: rotateY(-180deg);
}

/* VS 텍스트 */
.vs-text {
  font-family: 'DM Serif Display', serif; /* 원하는 폰트 */
  font-size: 2rem; /* 폰트 크기 */
  font-weight: normal; /* 폰트 두께 */
  text-align: center; /* 가운데 정렬 */
}

/* 버튼 스타일 */
.button-container {
  margin-top: 20px;
}

.reroll-button img {
  width: 50px;
}

.save-button {
  background-color: #ff5213;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* 버튼 간 간격 추가 */
}

.shorts-button {
  background-color: #ff5213;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
